{{ define "index" }}
<!doctype html>
<html>
    <head>
        <title>Color World</title>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <link rel="stylesheet" href="static/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="description" content="Color the World!" />
    </head>
    <body>
        <div id="overlayContainer">
            {{ template "mapContainer" . }}
            {{ template "errorDialog" . }}
            <div
                id="clickOverlay"
                hx-post="/update-pixel"
                hx-trigger="click"
                hx-target="#mapContainer"
                hx-swap="outerHTML"
            ></div>
        </div>
        <script src="static/clickableMap.js"></script>
        <script src="static/errorHandler.js"></script>
    </body>
</html>
{{ end }}

{{ define "mapContainer" }}
<div id="mapContainer">
    <img id="mapImage" src="data:image/png;base64,{{.MapImageBase64}}" alt="Color World Map" />
        {{ template "uiContainer" . }}
</div>
{{ end }}

{{ define "uiContainer" }}
<div id="uiContainer">
    <div id="pickerContainer">
        <label for="colorPicker">Select color:</label>
        <input type="color" id="colorPicker" value="#000000" />
    </div>
    <div id="version">Pixels drawn: {{.Updates}}</div>
    <div id="lastUpdate">Updated: {{.LastUpdate}}</div>
</div>
{{ end }}

{{ define "errorDialog" }}
<dialog id="errorDialog">
    <p id="errorMessage"></p>
    <form method="dialog">
        <button>OK</button>
    </form>
</dialog>
{{ end }}
